h1{
    color :dodgerblue;
}
/*
*{
    border: solid;
}*/
.header{
    background-color:khaki;
    display: flex;
    justify-content: space-between;
}
.jogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
h2, p{
    text-align: center;
}